<template lang="pug">
  #app.todo-app
    TodoList
      div.todo-list__item
        TodoCreate(@add="handleCreateClick" v-model="inputTodo")
      template(v-for="item in items")
        TodoListItem(:key="item._id"
          :todo="item" @done="setAsDone(item)" @remove="removeTodo(item._id)")
    Pagination(:meta="meta" @next="nextPage" @prev="prevPage")
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';

import Pagination from './components/Pagination.vue';
import TodoCreate from './components/TodoCreate.vue';
import TodoList from './components/TodoList.vue';
import TodoListItem from './components/TodoListItem.vue';
import useTodoRepository from './composable/useTodoRepository';

export default defineComponent({
  name: 'App',
  components: {
    Pagination,
    TodoList,
    TodoListItem,
    TodoCreate,
  },
  setup() {
    // utilise todo-bitpanda-server to get data
    const inputTodo = ref('');

    const {
      items,
      meta,
      setAsDone,
      createTodo,
      removeTodo,
      nextPage,
      prevPage,
    } = useTodoRepository();

    function handleCreateClick(): void {
      createTodo(inputTodo.value)
        .then((res: boolean): void => {
          if (res) {
            // clean input (IoC)
            inputTodo.value = '';
          }
        })
        .catch((e) => {
          console.error(e);
        });
    }

    return {
      // data
      items,
      meta,
      inputTodo,

      // methods
      removeTodo,
      setAsDone,
      nextPage,
      prevPage,
      handleCreateClick,
    };
  },
});
</script>

<style lang="scss">
.todo-app {
  text-align: center;
}
</style>
