<template>
  <svg
    width="17"
    height="18"
    viewBox="0 0 17 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15.4815 0.740738L6.59258 14.3704L2.14814
      9.92592L0.962952 11.1111L6.88888 17.037L16.963 1.62963L15.4815 0.740738Z"
      fill="#5DC2AF"
    />
  </svg>
</template>
