<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="7.57715"
      y1="15.3625"
      x2="7.57715"
      y2="0.434816"
      stroke="#A3A3A3"
    />
    <line
      x1="0.0771484"
      y1="7.93481"
      x2="14.9432"
      y2="7.93481"
      stroke="#A3A3A3"
    />
  </svg>
</template>
