<template lang="pug">
  div.pagination
    button.btn(@click="prev" :disabled="meta && !meta.hasPrevPage") <
    span.divider
    button.btn(@click="next" :disabled="meta && !meta.hasNextPage") >
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  props: {
    meta: {
      type: Object,
      required: true,
    },
  },
  setup(props, { emit }) {
    function next(): void {
      emit('next');
    }
    function prev(): void {
      emit('prev');
    }

    return {
      next,
      prev,
    };
  },
});
</script>

<style lang="scss">
.pagination {
  border-radius: 10px;
  border: 1px solid $dark-grey;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: white;
  margin-left: auto;

  .divider {
    width: 1px;
    height: 25px;
    background-color: #A8A8A8;
  }

  .btn {
    width: 40px;
  }
}
</style>
