<template lang="pug">
  div.todo-create
    input(v-model="inputTodo" placeholder="Take a note")

    button.btn.btn-add(@click="handleCreateClick")
      CrossIcon
</template>

<script lang="ts">
import { defineComponent, watch, ref } from '@vue/composition-api';

import CrossIcon from './Icons/CrossIcon.vue';

export default defineComponent({
  name: 'todo-create',
  components: {
    CrossIcon,
  },
  props: {
    // for cleaning input by parent
    value: String,
  },
  setup(props, { emit }) {
    const inputTodo = ref<string | undefined>('');
    // const { value } = toRefs(props);

    function handleCreateClick(): void {
      emit('add', inputTodo.value);
    }

    watch(() => props.value, (newValue) => {
      inputTodo.value = newValue;
    });

    watch(inputTodo, () => {
      emit('input', inputTodo.value);
    });

    return {
      handleCreateClick,
      inputTodo,
    };
  },
});
</script>

<style lang="scss">
.todo-create {
  display: flex;
  padding: 0.5em 0 0.5em 1em;
  width: 100%;

  input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    font-family: $font;

    &::placeholder {
      color: $dark-grey;
    }
  }
}
</style>
