<template lang="pug">
  div.todo-list
    <slot></slot>
</template>
<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'todo-list',
});
</script>

<style lang="scss">
.todo-list {
  border: 1px solid $dark-grey;
  border-radius: 12px;
  background-color: white;
  margin: auto;

  .todo-list-btn-done {
    border: 1px solid;
    border-color: $dark-grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-right: 1em;
    color: $dark-grey;
    cursor: pointer;

    &:hover {
      border-color: $green;
    }
  }

  .todo-list-btn-remove {
    margin-right: 0;
    font-size: 1.5em;
    font-weight: 300;
    margin-left: auto;
    color: $dark-grey;
    transition: transform ease 0.25s;

    &:hover {
      fill: black;
      transform: rotate(90deg);
    }
  }
}
</style>
