<template lang="pug">
  div.todo-list__item(:class="todo.done ? 'todo-list__item--done': ''")
    button.todo-list-btn-done(@click="handleDoneClick")
      CheckIcon(v-if="todo.done")
    p
      span {{ todo.description }}
      small - {{ dataFrom }}
    button.btn.todo-list-btn-remove(@click="handleRemoveClick")
      CrossIcon.rotate
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@vue/composition-api';
import { formatDistance } from 'date-fns';

import { Todo } from '../model/Todo';
import CheckIcon from './Icons/CheckIcon.vue';
import CrossIcon from './Icons/CrossIcon.vue';

export default defineComponent({
  name: 'todo-list-item',
  props: {
    todo: {
      type: Object as PropType<Todo>,
      required: true,
    },
  },
  components: {
    CheckIcon,
    CrossIcon,
  },
  setup(props, { emit }) {
    function handleRemoveClick(): void {
      emit('remove');
    }

    function handleDoneClick(): void {
      emit('done');
    }

    const dataFrom = computed(() => formatDistance(new Date(props.todo.updatedAt), new Date()));

    return {
      handleRemoveClick,
      handleDoneClick,
      dataFrom,
    };
  },
});
</script>

<style lang="scss">
.rotate {
  transform: rotate(45deg);
}

.todo-list__item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-bottom: 1px solid $dark-grey;
  padding: 0.15px 1em;

  &--done {
    p {
      color: $light-grey;

      span {
        text-decoration: line-through;
      }
    }

    .todo-list-btn-done {
      border-color: $green;
    }
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  p {
    font-weight: 200;
    text-align: left;
    line-height: 1.18em;
    flex: 1;

    small {
      padding-left: 5px;
      font-size: 0.72em;
      color: $black-light;
    }
  }
}
</style>
