html,
body {
  height: 100%;
  font-family: $font;
}

body {
  background-color: $dark-grey;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  font-weight: 300;
  cursor: pointer;
}
